<section class="card">

    <div class="card-body">

        <h1>About</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dolor sint commodi veniam cumque, molestiae quam praesentium vel aliquam officiis.</p>

    </div>

</section>