<div class="jumbotron mt-4">

    <h1 class="display-4">Notes App NodeJS and MongoDB</h1>

    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique iste possimus nesciunt debitis nisi id.</p>

    <hr class="my-4"> 

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius laudantium tempore dolorem praesentium temporibus voluptate itaque repellendus officiis laboriosam cumque?</p>

    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>

</div>


